ZEROX_API_KEY=
UNISWAP_API_KEY=
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
STOCKSCOPE_LOCAL_OPERATOR=0
TOKENROUTER_API_KEY=
TOKENROUTER_MODEL=openai/gpt-6-luna
TOKENROUTER_MONTHLY_LIMIT_USD=1
TOKENROUTER_INPUT_USD_PER_MILLION=
TOKENROUTER_OUTPUT_USD_PER_MILLION=
TOKENROUTER_PRICE_VERIFIED_AT=
POLICY_SIGNER_PRIVATE_KEY=
ENABLE_LOCAL_DEPLOYMENT_UI=false
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
STOCKSCOPE_DATABASE_URL=
CRON_SECRET=
STOCKSCOPE_EMAIL_DELIVERY=0
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
STOCKSCOPE_FIREBASE_ENABLED=0

ARBITRUM_ONE_RPC_URL=https://arb1.arbitrum.io/rpc
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ROBINHOOD_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
STOCKSCOPE_TESTNET_MANIFEST=
